@import "../../styles/_vars.scss";

.projects-body{
  text-align: center;
  height: 100%;
  .projects-header{
    position: relative;
    width: 100%;
    height: 5.5%;
    background: $color-accent2;
    h2{
      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
    }
    p{
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      margin: 0;
      padding: 0;
      a{
        display: inline;
        text-decoration: none;
      }
    }
  }
  .projects-main{
    background: $color-lightgrey;
    width: 100%;
    height: 94.5%;
    z-index: 0;
    .slick-slider{
      // adjusts height/width of entire projects slider
      border-top: 2px solid $color-accent;
      border-bottom: 2px solid $color-accent;
      height: 40%;
      .slick-track{
        height: 100%;
      }
      .slick-next{
        height: 100%;
        width: 6%;
        right: 0;
        bottom: 0;
        z-index: 1;
        &:hover{
          background: $color-white-header;
        }
        &:before{
          font-size: 3vw;
          position: relative;
        }
      }
      .slick-list{
        height: 100%;
      }
      .slick-prev{
        height: 100%;
        width: 6%;
        bottom: 0;
        left: 0;
        z-index: 1;
        &:hover{
          background: $color-white-header;
        }
        &:before{
          font-size: 3vw;
        }
      }
    }
  }
}
