@import "../../styles/_vars.scss";

// Mobile
.education-body{
  width: 100%;
  .education-header{
    height: 20em;
    div{
      position: relative;
      height: 100%;
      width: 100%;
      background: $color-accent;
      border-bottom: 1px solid #ececec;
    }
    h2{
      font-size: 6vw;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      margin: 0;
      text-align: center;
    }
  }
  .education-main{
    padding: 0 2%;
    background: $color-primary;
    .education-main-div{
      .education-main-div-ul{
        margin: 0;
        padding: 0;
        .education-main-div-ul-li{
          margin: 0;
          padding: 0;
          list-style: none;
          h4{
            font-size: 6em;
          }
          a{
            font-size: 100%;
            .code-fellows-h4{
              padding: 1em 0;
              margin: 0;
            }
          }
          p{
            font-size: 4em;
            strong{
              font-size: inherit;
            }
            a{
              font-size: 100%;
            }
          }
        }
      }
    }
  }
}


// Standard
@media only screen and (min-width: 1025px) {
  .education-body{
    width: 100%;
    height: 100%;
    .education-header{
      height: 5.5%;
      div{
        position: relative;
        height: 100%;
        width: 100%;
        background: $color-accent;
        border: none;
      }
      h2{
        font-size: 2.5em;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        margin: 0;
        text-align: center;
      }
    }
    .education-main{
      padding: 0 2%;
      background: $color-primary;
      .education-main-div{
        .education-main-div-ul{
          margin: 0;
          padding: 0;
          .education-main-div-ul-li{
            margin: 0;
            padding: 0;
            list-style: none;
            h4{
              font-size: 2em;
            }
            a{
              font-size: 100%;
              .code-fellows-h4{
                padding: 1em 0;
                margin: 0;
              }
            }
            p{
              font-size: 1.5em;
              strong{
                font-size: inherit;
              }
              a{
                font-size: 100%;
              }
            }
          }
        }
      }
    }
  }
}
