@import "../../../styles/_vars.scss";

.treehouse-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: $color-modal-shade;
  z-index: 1;
  .treehouse-modal-body{
    h3{
      font-size: 6em;
      text-align: center;
      margin: 0;
      padding: 2% 0;
      background: $color-accent;
      font-weight: bold;
      border-radius: 10px 10px 0 0;
    }
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background: $color-primary;
    z-index: 99;
    box-shadow: $modal-shadowing;
    border-radius: 10px;
    overflow-y: scroll;
  }
}


@media only screen and (min-width: 1025px) {
  .treehouse-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: $color-modal-shade;
    z-index: 1;
    .treehouse-modal-body{
      h3{
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding: 2% 0;
        background: $color-accent;
        font-weight: bold;
        border-radius: 10px 10px 0 0;
      }
      transform: translate(-50%,-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 80%;
      overflow-y: scroll;
      background: $color-primary;
      z-index: 99;
      box-shadow: $modal-shadowing;
      border-radius: 10px;
    }
  }
}
