// Primary colors

$color-primary: #d4d4d4;
$color-secondary: #fff;
$color-accent: #6C8673;

// Generic colors
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #e6e1e1;
$color-grey: #7A7D84;
$color-darkgrey: #4e4f52;

// Feedback colors
$color-error: #ff777a;
$color-success: #207e22;

// Componenet specific colors
$color-white-header: rgba(#ffffff, 0.16);
$color-modal-shade: rgba(0, 0, 0, 0.50);

$modal-shadowing: 0px 0px 10px #000;
$shadowing: 0px 0px 5px #000;
$corners: 10px 10px 10px 10px;
$pad: 0.5em;

$font-primary: 'Saira Semi Condensed', sans-serif;

$font-header : 'Source Code Pro', monospace;
