$color-primary: #d4d4d4;
$color-secondary: #fff;
$color-accent: #E9CE00;
$color-error: #ff777a;
$color-success: #207e22;
$color-white: #fff;
$color-white-header: rgba(#ffffff, 0.16);
$color-black: #000;
$color-lightgrey: #B5BAC3;
$color-grey: #7A7D84;
$color-darkgrey: #4e4f52;

$pad: 0.5em;

$font-primary: 'Saira Semi Condensed', sans-serif;

$font-header : 'Source Code Pro', monospace;
