@import "../../../styles/_vars.scss";

.slick-slide{
  height: 100%;
  position: relative;
  .project{
    height: 100%;
    position: relative;

    .project-header{
      height: 15%;
      background: $color-grey;
      position: relative;
      .project-header-h2{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        position: absolute;
        margin: 0;
        padding: 0;
      }
    }

    .project-details{
      position: relative;
      height: 85%;
      .project-details-li{
        height: 100%;
        text-align: left;
        margin: 0;
        padding: 0 7%;
        div{
          margin: 5% 0;
        }
        h5{
          strong{
            font-size: 110%;
          }
          display: inline;
          margin: 0;
          padding: 0;
        }
        a,p{
          display: inline;
          margin-left: 1%;
          font-size: 125%;
        }
      }
    }
  }
}
