* {
  box-sizing: border-box;
}
html {

}
body {
  width: 100%;
  height: 100vh;
  background-color: #ECECEC;
}
header{
  width: 100%;
  height: 15vw;
  position: relative;
  outline: 1px solid red;
}
main {
width: 100%;
height: 70vw;
padding: 0 2%;
}
nav {

}
section {
  padding: 2% 0%;
  width: 100%;
}
footer {
  padding: 2% 0%;
  width: 100vw;
  height: 15vw;
}
p {
  text-indent: 2vw;
}
a {
  color: inherit;
  text-decoration: inherit;
}
